# Learning Notebook Spring 2024

Author: Hannah Kania

The following notebook includes Hannah Kania's notebook from Spring 2024 of BIO724D.

In [1]:
# load the libraries we will need
import numpy as np
import pandas as pd
import duckdb
from matplotlib import pyplot as plt
import seaborn as sns
import math

# use a magic to load the JupySQL extension
%load_ext sql

Deploy FastAPI apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [2]:
%sql duckdb://

Connecting to 'duckdb://'

### Problem Set 12

#### General notes
Assignment works the same as R
** is exponent not ^

Four common data types: int, float, str, bool
Data structures: list, tuple, set, dictionary
Libraries: NumPy & Pandas

#### Lists & Dictionaries
Can hold mix of objects and can be nested
Lists are indexed by position
Dictionaries are indexed by keys


#### Iterables in python
Containers and strings
Basic data types only hold single values

#### Immutable versus mutable
Immutable ojects take up less memory

#### When calling functions
Need to specify libraries when calling function
ie. my_result = math.factorial(3) (math = library, factorial = function)

#### Resources
Software carpentry
Wikiversity
w3schools
The python standard library***


#### Random Snippets
Kernel menu will interrupt the process running if you are stuck in a for loop or if you want to get rid of everything in memory and re-evaluate it will allow you to do that

### Problem Set 13

#### How to unzip the zip function 
* from this post on stackoverflow: https://stackoverflow.com/questions/13635032/what-is-the-inverse-function-of-zip-in-python

In [ ]:
x = [1, 2, 3]
y = [4, 5, 6]
example_list = list(zip(x, y))
print(example_list)

In [ ]:
example_unzipped_list = list(zip(*example_list))
print(example_unzipped_list) #new lists inside lists are actually tuples and to sort you need to extract and make a lists

#### Some class notes
* Lists are slow and require more memory than sets and tuples.
* Tuple is read-only version of a list & useful for rapid access. Immutable.
* Sets do not have order, which makes them very efficient.
* Triple quoted strings allow you to use special characters like tabs and newlines in a string without explicitly writing their string literal forms.

### Problem Set 14

In [ ]:
# general structure of a nested for loop
init_conditions = [[1,1,0], [1,0,1]]

for condition in init_conditions:
    v1,v2,v3 = condition
    V1 = [v1]
    V2 = [v2]
    V3 = [v3]
    for tick in range(nticks):
        #do something & update v1, v2, v3

In [ ]:
# create nested for loop structure, could also use combinations
for i in [0,1]:
    for j in [0,1]:
        init_condition.append([i,j])

In [4]:
#using combinations from itertools
from itertools import combinations, product
list(product([0,1],repeat=3))

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

### Problem Set 15

#### From Matplotlib:
* Basic plot parameters including colors & linestyles: https://matplotlib.org/2.1.1/api/_as_gen/matplotlib.pyplot.plot.html & https://matplotlib.org/stable/gallery/lines_bars_and_markers/linestyles.html
* Adding vertical lines to graphs:
https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.vlines.html

In [ ]:
# Basic numpy functions that you can use in arrays (I did not know numpy included basic math functions)
np.log() # gives log value, otherwise commonly known as ln in functions
np.mean() # calculates means of an array

### Problem Set 16

In [50]:
df = pd.DataFrame(
    {
    "Gene": ["ORF1ab", "S", "E", "M", "N"],
    "Start": [266,  21563, 26245, 26523, 28274],
    "Stop": [21555, 25384, 26472, 27191, 29533],
    "Product": ["ORF1ab polyprotein", "surface glycoprotein", 
                "envelope protein", "membrane glycoprotein",
                "nucleocapsid phosphoprotein"]
    }
)

#keys become column names, values become entries

df

     Gene  Start   Stop                      Product
0  ORF1ab    266  21555           ORF1ab polyprotein
1       S  21563  25384         surface glycoprotein
2       E  26245  26472             envelope protein
3       M  26523  27191        membrane glycoprotein
4       N  28274  29533  nucleocapsid phosphoprotein

#### .loc()
* inclusive slice on both ends

In [60]:
df.loc[1:3, "Start":"Stop"] #always inclusive of the start and end of the slice -- don't forget 0

   Start   Stop
1  21563  25384
2  26245  26472
3  26523  27191

### Problem Set 17

In [13]:
yeast.columns.str.match("cln|clb")
#attribute on pandas array lets you treat values as strings and perform
#string operations in a vectorized manner
#returns a boolean

array([False,  True,  True,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False])

In [18]:
to_drop = yeast.columns[yeast.columns.str.match("cln|clb")]
#returns subset of specified things
yeast = yeast.drop(to_drop, axis = 1)
#remove non time-series data

### Problem Set 18

#### Nested queries

In [63]:
%%sql
SELECT 
    CONCAT(genus_ioc, ' ', species_ioc) AS species,
    familiar_ioc AS 'common name'
FROM
    species
WHERE
    genus_ioc IN (                             -- nested query, inner query runs first; pulls data from 2 different tables
        SELECT genus_ioc
        FROM genera
        WHERE family_ioc = 'Bucerotidae' )
GROUP BY
    genus_ioc,
    species_ioc,
    familiar_ioc
;

Running query in 'duckdb://'

+---------------------------+----------------------------------+
|          species          |           common name            |
+---------------------------+----------------------------------+
|      Tockus jacksoni      |        Jackson’s Hornbill        |
|     Ocyceros birostris    |       Indian Grey Hornbill       |
|   Tockus erythrorhynchus  |   Northern Red-billed Hornbill   |
|       Tockus deckeni      |    Von der Decken’s Hornbill     |
| Lophoceros alboterminatus |         Crowned Hornbill         |
|     Bycanistes brevis     |     Silvery-cheeked Hornbill     |
|      Buceros bicornis     |          Great Hornbill          |
| Anthracoceros albirostris |      Oriental Pied Hornbill      |
|       Tockus ruahae       |  Tanzanian Red-billed Hornbill   |
|     Lophoceros nasutus    |      African Grey Hornbill       |
|    Bycanistes bucinator   |        Trumpeter Hornbill        |
| Bycanistes subcylindricus | Black-and-white-casqued Hornbill |
|    Anorrhinus galeritus   |      Bushy-crested Hornbill      |
|     Buceros rhinoceros    |       Rhinoceros Hornbill        |
+---------------------------+----------------------------------+

#### Joins

In [64]:
%%sql
-- how many species greg has seen in every country he has visited
-- requires grouping & counting distinct locations in the observation table 
-- as well as a left join of the locations table onto the observations table based on location name
-- none row corresponds to when there is not a macth to the location table
SELECT
    country_name AS country,
    COUNT(DISTINCT (genus_ioc, species_ioc)) AS num_species
FROM
    observations AS o
    LEFT JOIN locations AS l
    ON o.location_name = l.location_name
GROUP BY
    country
ORDER BY
    num_species DESC
LIMIT
    10;

Running query in 'duckdb://'

+--------------------------+-------------+
|         country          | num_species |
+--------------------------+-------------+
|        Costa Rica        |     385     |
|          Kenya           |     309     |
| United States of America |     300     |
|           None           |     276     |
|         Ecuador          |     263     |
|         Tanzania         |     260     |
|          India           |     252     |
|          Panama          |     191     |
|           Peru           |     188     |
|        Australia         |     169     |
+--------------------------+-------------+

### Problem Set 19

#### Working with SQL within Python

In [ ]:
%%sql
SELECT * FROM trips ORDER BY start_date LIMIT 4;

In [ ]:
#python code for same thing
result = %sql SELECT * FROM trips ORDER BY start_date LIMIT 4;

In [ ]:
print(result)

***FIRST NORMAL FORM***
* Don't use row order to convey information
* Do not mix data types within a column
* Do not use repeating groups (lists, tuples, dictionaries)
* A primary key is required

***SECOND NORMAL FORM***
* each non-primary key column must depend on the primary KEY, if not, put it in another table
* example: individual, age, weather (weather should be in another table)

***THIRD NORMAL FORM***
* each non-primary key column must depend ONLY on the primary key, if not, put it in another table
* example: individual, age, mother, troop, troop number (troop number should be in another table)

### Problem Set 20

#### Web Resources for Data Viz:

* From Data to Viz: https://www.data-to-viz.com/

* FriendsDontLetFriends: https://github.com/cxli233/FriendsDontLetFriends

* R Graph Gallery: http://rgraphgallery.blogspot.com/

* MatPlotLib Examples: https://matplotlib.org/stable/plot_types/index.html

* Seaborn Gallery: https://seaborn.pydata.org/examples/index.html